html {
    font-family: Raleway, sans-serif;
    height: 100vh;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
@font-face {
    font-family: Raleway;
    src: url(Raleway/static/Raleway-Regular.ttf);
}

main {
    display: flex;
    justify-content: center;
    padding-left: 160px;
    padding-right: 160px;
    flex: 1;
    align-items: center;
}

header {
    height: 116px;
    padding-left: 160px;
    padding-right: 160px;
    display: flex;
    justify-content: center;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.test {
    max-width: 1980px;
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.test-2 {
    max-width: 1980px;
}

.test-3 {
    max-width: 1980px;
    display: flex;
    justify-content: flex-start;
    width: 1980px;
}

.header-links {
    font-size: 24px;
    display: flex;
    align-items: end;
    gap: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}

.burger-menu {
    display: none;
}

.hidden-header-links {
    display: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: green;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
}

h2 {
    font-size: 24px;
}

label {
    font-size: 24px;
}

.Contact-box {
    background-color: #DCDCDC;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 400px;
    height: 500px;
    margin: 80px;
    padding: 30px 30px 10px;
    border-radius: 15px;
}

.Input {
    width: 400px;
    height: 50px;
    border: solid 1px white;
    border-radius: 8px;
}

.Input-Nachricht {
    width: 400px;
    height: 200px;
    border: solid 1px white;
    border-radius: 8px;
}

.Abschicken-btn {
    color: white;
    background-color: #007E03;
    padding: 5px 25px 5px 25px;
    border-radius: 3px;
    font-size: 18px;
}

footer {
    height: 124px;
    padding-left: 160px;
    padding-right: 160px;
    background-color: rgba(64, 59, 59, 0.76);
    margin: 0;
    display: flex;
    justify-content: center;
}

@media(max-width:1280px) {
    header {
        padding-left: 24px;
        padding-right: 24px;
        align-items: center;
    }

    .test {
        align-items: center;
    }

    main {
        padding-left: 24px;
        padding-right: 24px;
    }

    footer {
        padding-left: 24px;
        padding-right: 24px;
    }

    .header-links {
        display: none;
    }

    .burger-menu {
        display: block;
        height: 40px;
        background-color: gray;
    }
    
    .hidden-header-links {
        font-size: 20px;
        padding-right: 24px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: end;
    }

    .hide {
        display: none;
    }

    label {
        font-size: 20px;
    }

    h2 {
        font-size: 20px;
    }
}

@media(max-width:767px) {
    
    .Input {
        width: 200px;
    }

    .Input-Nachricht {
        width: 200px;
    }

    .Contact-box {
        width: 200px;
        align-items: center;
    }

    .footer-header-logo {
        width: 200px;
    }

    .burger-menu {
        height: 30px;
    }

    header {
        height: 64px;
        padding-left: 16px;
        padding-right: 16px;
    }

    main {
        padding-left: 16px;
        padding-right: 16px;
    }

    footer {
        height: 64px;
        padding-left: 16px;
        padding-right: 16px;
    }
    
    .hidden-header-links {
        font-size: 16px;
        padding-right: 16px;
    }
    
    label {
        font-size: 16px;
    }

    h2 {
        font-size: 16px;
    }
}