html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    font-size: 24px;
    font-family: "Raleway", sans-serif;
}

h2 {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 0px 80px;
}

.text {
    display: flex;
    flex: 1;
    margin-right: 20px;
}

.wok-jpg {
    border-radius: 8px;
    width: 250px;
    height: 250px;
    margin: 0px 60px;
}


























/* Rudolf Kochwelten */

.section2 {
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(233, 233, 233, 0.8);
}

.section1 h2 {
    color: #000000;
    text-align: center;
    margin-top: 0;
    margin-bottom: 64px;
}

.new_rezipes {
    display: flex;
    justify-content: space-evenly;
    width: -webkit-fill-available;
    padding: 0 160px;
    text-align: center;
    gap: 64px;
}

.new_rezipes img {
    width: 200px;
    height: auto;
    object-fit: scale-down;
    border-radius: 5%;
    border: 2px;
}

.preselection_panna_cotta,
.preselection_roulade,
.preselection_soljanka {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

@media (max-width: 1280px) {

    .section2 {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .section2 h2 {
        margin-bottom: 48px;
    }

    .new_rezipes {
        padding: 0 24px;
        gap: 48px;
    }

.new_rezipes img {
        width: 112px;
        height: 112px;
    }

.preselection_panna_cotta,
.preselection_roulade,
.preselection_soljanka {
        gap: 8px;
    }
}

@media (max-width: 767px) {
    .section2 {
        padding-top: 72px;
        padding-bottom: 72px;
    }

    .new_rezipes {
        padding: 0 16px;
        flex-direction: column;
        gap: 32px;
    }

    .new_rezipes img {
        width: 112px;
        height: 112px;
    }

.preselection_panna_cotta,
.preselection_roulade,
.preselection_soljanka {
        gap: 8px;
    }
}