@font-face {
    font-family: Raleway;
    src: url(Raleway/static/Raleway-Regular.ttf);
}

body {
    margin: 0;
    font-family: Raleway, sans-serif;
    font-size: 24px;
}

header {
    padding-left: 160px;
    padding-right: 160px;
    display: flex;
    justify-content: center;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    height: 112px;
}

.test {
    max-width: 1980px;
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.test-2 {
    max-width: 1980px;
}

.test-3 {
    max-width: 1980px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 1980px;
}

.header-links {
    display: flex;
    align-items: end;
    gap: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}

.burger-menu {
    display: none;
}

.hidden-header-links {
    display: none;
}

.btn-links {
    text-decoration: none;
    color: black;
}

.btn-links:hover {
    color: green;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
}

main {
    padding-left: 160px;
    padding-right: 160px;
    display: flex;
    justify-content: center;
}

.manti {
   background: url(./img/Manti.jpg);
   width: 100%;
   height: 350px;
   background-size: cover;
   background-position: center;
   border-radius: 20px;
}

.requirements {
    display: flex;
    background-color: #EFEFEF;
    gap: 10px;
    padding: 5px;
    border-radius: 10px;
    align-items: center;
}

.requirements-div {
    display: flex;
    align-items: center;
    gap: 50px;
}

.requirements-pic {
    height: 20px;
}

.number-of-persons {
    display: flex;
    align-items: center;
    border-top-style: solid;
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.1);
}

.persons-input {
    margin-left: 20px;
    border-color: rgba(0, 0, 0, 0.1);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 40px;
    width: 150px;
}

button {
    width: 150px;
    background-color: rgb(0, 128, 19);
    color: white;
    font-weight: bold;
    height: 45px;
    
}

button:hover {
    background-color: rgb(0, 161, 0);
    cursor: pointer;
    
}

ul {
    list-style-type: none;
    padding-inline-start: 0;

}

li {
    padding-left: 30px;
}

.li {
    background-color: #EFEFEF;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.credits {
    display: flex;
    align-items: center;
    gap: 15px;
}

.profile-picture {
    border-radius: 100%;
    width: 100px;
    
}

footer {
    padding-left: 160px;
    padding-right: 160px;
    background-color: rgba(64, 59, 59, 0.76);
    margin: 0;
    display: flex;
    justify-content: center;
    height: 112px;
}
.data_protection {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.data_protection:hover {
    cursor: pointer;
    box-shadow: 0px 5px 0px white;
    font-style: oblique;
}

@media(max-width:1280px) {
    body {
        font-size: 20px;
    }

    header {
        padding-left: 24px;
        padding-right: 24px;
        align-items: center;
    }

    .test {
        align-items: center;
    }

    main {
        padding-left: 24px;
        padding-right: 24px;
    }

    footer {
        padding-left: 24px;
        padding-right: 24px;
    }

    .header-links {
        display: none;
    }

    .burger-menu {
        display: block;
        height: 40px;
        background-color: gray;
    }
    
    .hidden-header-links {
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: end;
    }

    .hide {
        display: none;
    }

    .requirements-pic {
        height: 15px;
    }

    button {
        width: 100px;
    }

    .persons-input {
        width: 100px;
    }
}

@media(max-width:450px) {
    
    .requirements-div {
        gap: 0px;
        justify-content: space-between;
    }

    .requirements {
        align-items: center;
    }
}

@media(max-width:767px) {
    header {
        height: 64px;
        padding-left: 16px;
        padding-right: 16px;
    }    

    .hidden-header-links {
        padding-right: 16px;
    }

    main {
        padding-left: 16px;
        padding-right: 16px;
    }

    footer {
        height: 64px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .footer-header-logo {
        width: 200px;
    }

    body {
        font-size: 16px;
    }

    .requirements {
        gap:5px
    }

    .burger-menu {
        height: 30px;
    }

    .requirements-pic {
        height: 10px;
    }

    button {
        width: 75px;
        height: 30px;
    }

    .persons-input {
        width: 75px;
        height: 24px;
        margin-left: 10px;
    }

    .profile-picture {
        border-radius: 100%;
        width: 75px;
    
}

}