@font-face {
    font-family: Raleway;
    src: url(Raleway\static\Raleway-Regular.ttf);
}

body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 25px;
}

header {
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    
}

.header-links {
    display: flex;
    align-items: end;
    gap: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: green;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
}

.burger-menu {
    display: none;
}

.hidden-header-links {
    display: none;
}

main {
    padding-left: 100px;
    padding-right: 100px;
}

.panna-cotta {
   background: url(./img/Panna-Cotta.jpg);
   width: 100%;
   height: 350px;
   background-size: cover;
   background-position: center;
   border-radius: 20px;
}

.requirements {
    display: flex;
    background-color: #EFEFEF;
    gap: 10px;
    padding: 5px;
    border-radius: 10px;
    align-items: center;
}

.requirements-div {
    display: flex;
    align-items: center;
    gap: 50px;
}

.requirements-pic {
    height: 20px;
}

.number-of-persons {
    display: flex;
    align-items: center;
}

.persons-input {
    margin-left: 20px;
    border-color: rgba(0, 0, 0, 0.1);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 40px;

}

button {
    width: 150px;
    background-color: green;
    color: white;
    font-weight: bold;
    height: 45px;
    
}

button:hover {
    background-color: rgb(0, 161, 0);
    cursor: pointer;
    
}

ul {
    list-style-type: none;
    padding-inline-start: 0;

}

li {
    padding-left: 30px;
}
.li {
    background-color: #EFEFEF;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.credits {
    display: flex;
    align-items: center;
    gap: 15px;
}

.profile-picture {
    border-radius: 100%;
    width: 10%;
    
}

footer {
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgba(64, 59, 59, 0.76);
    margin: 0;
}

@media(max-width:1170px) {
    header {
        align-items: center;
    }

    .header-links {
        display: none;
    }

    .burger-menu {
        display: block;
        height: 40px;
        background-color: gray;
        

    }
    
    .hidden-header-links {
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: end;
    }

    .hide {
        display: none;
    }
}

@media(max-width:800px) {
    body {
        font-size: 15px;
    }
}

@media(max-width:680px) {
    .footer-header-logo {
        width: 200px;
    }
}

@media(max-width:640px) {
    input {
        width: 100px;
    }
    
    button {
        width: 100px
    }

    .requirements-div {
        gap: 0;
        justify-content: space-between;
    }

    .requirements {
        align-items: center;
    }

    .requirements-pic {
        height: 10px;
    }

}

@media(max-width:500px) {
    main {
        padding: 25px;
    }
    header {
        padding-left: 25px;
        padding-right: 25px;
    }

    .burger-menu {
        height: 20px;
    }

    .hidden-header-links {
        padding-right: 25px;
    }
    
}

@media(max-width: 450px) {
    .requirements {
        font-size: 9px;
        gap: 0;
    }
}
