html {
    font-family: Raleway, sans-serif;
    background-color: #ffffff;
    font-size: 24px;
    scroll-behavior: smooth;
    transition: font-size 0.5s ease-out;
}

@font-face {
    font-family: Raleway;
    src: url(Raleway/static/Raleway-Regular.ttf);
}

body {
    margin: 0;
    border: 0;
}

main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    padding: 20px 160px;
    gap: 20px;
    align-items: center;
}

header {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    padding: 0px 160px;
}

.test {
    max-width: 1980px;
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.test-2 {
    max-width: 1980px;
}

.test-3 {
    max-width: 1980px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 1980px;
}

h1 {
    font-size: 96px;
    font-weight: bold;
    text-align: center;
    margin: 20px;
}

h2 {
    font-size: 80px;
    font-weight: bold;
    margin: 20px;
}

h3 {
    font-weight: bold;
    font-size: 56px;
    margin-block-start: 0;
    margin-block-end: 0;
}

button {
    width: 150px;
    background-color: rgb(0, 128, 0);
    color: white;
    height: 45px;
    font-family: Raleway, bold;
    border: 0px;
    padding: 0px;

}

button:hover {
    background-color: rgb(0, 161, 0);
    cursor: pointer;

}

.burger-menu {
    display: none;
}


.navigation {
    display: flex;
    gap: 20px;
    align-items: end;
    font-weight: bold;
    padding-bottom: 10px;
}

.nav_button {
    color: black;
    cursor: default;
    text-decoration: none;
}

.nav_button:hover {
    text-decoration: underline;
    cursor: pointer;
    text-decoration-color: rgb(0, 161, 0);
    color: rgb(0, 161, 0);
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
}

.hidden_navigation {
    display: none;
}

.potion_input_area p {

    padding-right: 15px;
}

.multiplaktor_potion {
    padding: 0px;
    height: 45px;
    border-radius: 10px 0px 0px 10px;
    border-color: rgba(0, 0, 0, 0.1);
    width: 150px;
}

.scale_graphic {
    height: 20px;
    border-radius: 10px;
}

.Expense {
    display: flex;
    gap: 10px;
}

.impingement {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgb(239, 239, 239);
    border-radius: 10px;
    padding: 5px 10px 5px 5px;
}

.impingement p {
    margin: 0px;
}

.food_print {
    background-image: url(img/soljanka-2072551_1920.jpg);
    width: 100%;
    height: 350px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;


}

.potion_input_area {
    display: flex;
    align-items: center;
    border-top-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0px -5px 0px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.list_of_ingredients {
    list-style-type: none;
    padding-inline-start: 0;

}

.ingredients {
    display: flex;
    background-color: rgb(239, 239, 239);
    border-radius: 10px;
    padding: 10px 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ingredients2 {
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.created_by_area {
    display: flex;
    align-items: center;
    gap: 20px;
}

.created_by_area img {
    width: 60px;
    height: auto;
}

footer {
    background-color: rgba(64, 59, 59, 0.76);
    padding: 30px 160px;
    display: flex;
    justify-content: center;
}

footer img {
    width: auto;
    height: 72px;
}

.data_protection {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.data_protection:hover {
    /* text-decoration: underline; */
    cursor: pointer;
    box-shadow: 0px 5px 0px white;
    font-style: oblique;
}

@media(max-width:1280px) {
    html {
        font-size: 20px;
    }

    h1 {
        font-size: 72px;
    }

    h2 {
        font-size: 64px;
    }

    h3 {
        font-size: 48px;
    }

    header {
        align-items: center;
    }

    button {
        width: 100px;
    }

    header,
    main,
    footer {
        padding-left: 24px;
        padding-right: 24px;
    }

    .test {
        align-items: center;
    }

    .hidden_navigation {
        padding-right: 24px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: end;
    }

    .burger-menu {
        display: block;
        height: 40px;
        background-color: gray;
    }

    .hide {
        display: none;
    }

    .scale_graphic {
        height: 15px;
    }

    .navigation {
        position: relative;
        right: 20px;
        top: 160px;
        padding-right: 100px;
        display: none;
        flex-direction: column;
        gap: 10px;
        align-items: end;
    }

    .multiplaktor_potion {
        width: 100px;
    }
}

@media(max-width:767px) {
    html {
        font-size: 16px;
    }

    h1 {
        font-size: 44px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 32px;
    }

    .Kochwelt_logo {
        width: 200px;
    }

    button {
        width: 75px;
        height: 30px;
    }

    .hidden_navigation,
    header,
    main,
    footer {
        padding-left: 16px;
        padding-right: 16px;
    }

    .scale_graphic {
        height: 10px;
    }
    .impingement,
    .Expense {
        gap: 5px;
    }

    .multiplaktor_potion {
        width: 75px;
        height: 24px;
        margin-left: 10px;
    }

}